<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackendAPIKey</key>
	<string></string>
	<key>BackendBaseURL</key>
	<string>http://172.20.10.2:8000</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select photos of climbing routes for analysis.</string>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
