<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackendAPIKey</key>
	<string></string>
	<key>BackendBaseURL</key>
	<string>http://172.20.10.2:8000/</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.794053407399-7fbgbi05jegdvgbsbpo1nu62la7gco27</string>
			</array>
		</dict>
	</array>
	<key>GoogleClientID</key>
	<string>794053407399-7fbgbi05jegdvgbsbpo1nu62la7gco27.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
